/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.clickable {
	cursor: pointer;
}

.hover-highlight {
	transition: 0.3s ease-in-out;
}
  
.hover-highlight:hover {
	background-color: #e2e6ea; /* Cor clara para destacar */
	transform: scale(1.03); /* Efeito de leve zoom */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
}


.landing-page-button {
    border: 2px solid #243067;
    border-radius: 30px;
}

.default-color {
    color: #243067;;
}

.fading-img {
	mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 80%);
}